version: '3.9'

services:
  postgres-db:
    image: postgres:15
    container_name: mirathy-postgres
    restart: always
    environment:
      POSTGRES_DB: mirathy_db
      POSTGRES_USER: mirathy
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
